<div class="container">
  <div class="columns is-centered">
    <div class="box column is-one-third">
      <h1 class="title has-text-centered">Générateur de mot de passe</h1>
      <h2 class="subtitle has-text-centered is-italic">Entre 1 et 99 caractères</h2>
      <div class="field">
        <label>Longueur souhaité :</label>
        <input class="input" (input)="onChangeLength($event.target.value)" />
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input (change)="onChangeUseLetters()" type="checkbox" />
            Utiliser des lettres
          </label>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input (change)="onChangeUseNumbers()" type="checkbox" />
            Utiliser des chiffres
          </label>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input (change)="onChangeUseSymbols()" type="checkbox" />
            Utiliser des caractères spéciaux
          </label>
        </div>
      </div>

      <button [disabled]="
          !(length && (includeLetters || includeSymbols || includeNumbers))
        " (click)="onButtonClick()" class="button is-link is-fullwidth">
        Générer !
      </button>

      <div class="box" *ngIf="password">
        <label>Mot de passe généré :</label>
        <input class="input" [value]="password" #passwordGenerated />
        <div class="field is-grouped is-grouped-centered ">
          <button (click)="copyInputMessage(passwordGenerated)" class="button is-small">Copier dans le
            presse-papier</button>
        </div>
      </div>
    </div>
  </div>
</div>